.panel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.filter-column {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding-right: 15px;
}

.filter-operator {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding-right: 15px;
}

.filter-input {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding-right: 15px;
}

.filter-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pagination-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-input {
  width: 45px;
}

