*:focus {
    outline: none;
}

body {
    background: #e5e5e5;
}

#editorIFrame {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#editorIFrame.pinned {
    /*width: calc(100% - 340px);*/
}

#editor-panel {
   /* right: auto;
    bottom: auto;
    top: 161px;
    left: 410px;
    display: none;
    z-index: 50;*/
    right: 0;
    bottom: auto;
    top: 161px;
    left: auto;
    display: none;
    z-index: 50;
}

#editor-panel.pinned {
   /* right: 0;
    bottom: auto;
    top: 161px;
    left: auto;
    display: none;
    z-index: 50;*/
}

#editor-panel button:focus {
    outline: none;
}

#editor-panel .modal-dialog {
    margin: 10px;
    width: 410px;
}
/*#editor-panel.pinned .modal-dialog {
    width: 410px;
}*/

#editor-panel .modal-content {
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

/*#editor-panel .modal-header,
#editor-panel .modal-footer {
    border-radius: 6px;
}*/

#editor-panel .modal-footer {
    padding: 10px 0;
    border: 0;
    height: 52px;
    text-align: left;
}

#save-outer {
    display: none;
}

@keyframes glow {
    0 {
        opacity: 1
    }

    50% {
        opacity: .25
    }

    100% {
        opacity: 1
    }
}

#editor-panel .modal-footer button i {
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#editor-panel .modal-header:hover {
    cursor: move;
}

#editor-panel .modal-header .fa-lg, #editor-panel .modal-footer .fa-lg {
    font-size: 1.7em;
    line-height: 1.9em;
}

#editor-panel .tab {
    display: none;
}

#editor-panel .tab-content {
    height: 300px;
    overflow-y: auto;
}

#editor-panel button {
    border-radius: 4px;
}

#editor-panel #tabs .buttons {
    padding-bottom: 5px;
}


/* boostrap overrides */

#editor-panel .modal-body {
    padding: 5px;
}


/* end boostrap overrides */


/* jquery ui overrides */

.ui-tabs .ui-tabs-panel {
    padding: 10px 5px;
}

.ui-helper-reset {
    font-size: 85%;
}


/* end jquery ui overrides */

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 600px;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}


/**
 * Nestable Extras
 */

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

#nestable-menu {
    padding: 0;
    margin: 20px 0;
}

#nestable-output,
#nestable2-output {
    width: 100%;
    height: 7em;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: Consolas, monospace;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
    background: #bbb;
}

#nestable2 .dd-item > button:before {
    color: #fff;
}

@media only screen and (min-width: 700px) {
    .dd {
        width: 100%;
    }
    .dd + .dd {
        margin-left: 2%;
    }
}

.dd-hover > .dd-handle {
    background: #2ea8e5 !important;
}


/**
 * Nestable Draggable Handles
 */

.dd-content {
    display: block;
    height: 31px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-title {
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
}

.dd-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-dragel > .dd-item > .dd-content {
    margin: 0;
}

.dd-item > button {
    margin-left: 30px;
}

.dd-handle {
    position: absolute;
    display: block;
    height: 30px;
    margin: 0;
    padding: 4px 8px;
    left: 0;
    top: 0;
    c ursor: pointer;
    width: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd-handle:hover {
    background: #ddd;
}

#editor-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #3f51b5;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    border-radius: 15px;
    display: none;
    z-index: 9999;
}

.has-error .form-control,
.has-error .form-control:focus {
    border: 0;
    outline: 1px solid #d9534f;
}

.has-error span {
    color: #d9534f;
    font-weight: normal;
}

.form-control,
.form-control:focus {
    border: 1px solid rgba(240, 173, 78, 0.44);
}

#tab-elements .list ul li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    float: left;
    margin: 3px;
    margin-left: 0;
    margin-top: 0;
    cursor: pointer;
    background: #FFF;
    border: solid 1px #999;
    border-radius: 2px;
    list-style: none;
}

#tab-elements .list ul li i {
    font-size: 30px;
    display: block;
    height: 50px;
    line-height: 50px;
}
