
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";
// 
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
//@import "node_modules/bootstrap-material-design/sass/_variables";
//@import "variables";
// Bootstrap
$font-size-base: 15px;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bootstrap-material-design/sass/bootstrap-material-design";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


img { width: 100%; height: auto; }

.jssocials-share-link { border-radius: 50%; }
